<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cz.muni.fi.pv256.movio2.uco_410434">

    <application
        android:theme="@style/MainAppTheme.Alt"
        tools:node="merge"
        tools:replace="android:theme"></application>

</manifest>